{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    "react-hot-loader/babel",
    "syntax-dynamic-import"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
