{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"]
    }],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["system-import-transformer", {
      "commonJS": {
        "useRequireEnsure": true
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        ["react-css-modules", {
          "context": "src/client",
          "generateScopedName": "[name]__[local]___[hash:base64:5]",
          "webpackHotModuleReloading": true
        }],
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "presets": ["react-optimize"],
      "plugins": [
        ["react-css-modules", {
          "context": "dist/client",
          "generateScopedName": "[name]__[local]___[hash:base64:5]"
        }]
      ]
    }
  }
}
