{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "syntax-dynamic-import",
    ["module-resolver", {
      "root": ["./src"]
    }],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["react-css-modules", {
      "context": "./src/client",
      "generateScopedName": "[name]__[local]___[hash:base64:5]"
    }],
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
