{
  "extends": "airbnb",
  "rules": {
    "global-require": "off",
    "no-param-reassign": ["error", { "props": false }],
    "react/jsx-curly-spacing": [2, "always"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/extensions": [1, { "jsx": "never", "js": "never" }],
    "import/no-named-as-default": "off",
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "react/prop-types": [1, { "ignore": ["dispatch", "route"] }]
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
