{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "global-require": "off",
    "no-param-reassign": ["error", { "props": false }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/extensions": [1, { "jsx": "never", "js": "never" }],
    "react/prefer-stateless-function": [0, { "ignorePureComponents": true }],
    "react/prop-types": [1, { "ignore": ["dispatch", "route"] }]
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
