.btn {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight: 100;
    margin: 1rem auto;
    padding: 1rem 3rem;
    transition: all 500ms;
    background: transparent;
    border: none;
    outline: none;    
    font-size: 1rem;
    cursor: pointer;
    &:focus {}
    &:hover {
        background: rgba(255, 255, 255, 0.2);
    }
};

button.disabled {
    color: #72b8d7;

    &:hover {
        background: transparent;
    }
}