$backgroundColor: #1588bc;
$fontColor: #fff;

:global {
    body, html {
        height: 100%;
        margin: 0;
    }
}

.container {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $backgroundColor;
}

.content {
    position: relative;
    top: 50%;
    width: 50%;
    margin: auto;
    transform: translateY(-50%);
    color: $fontColor;

    & > .title {
        font-size: 2rem;
        font-weight: lighter;
        margin: 0;
    }
}

.mainText {
    font-weight: 100;
    font-size: 1.5rem;
};

.normalText {
    font-weight: 100;
    font-size: 1rem;
}

.btn {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    font-weight: 100;
    margin: 1rem auto;
    padding: 1rem 3rem;
    transition: all 500ms;
    background: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
        background: rgba(255, 255, 255, 0.2);
    }

    &:focus {
        outline: none;
    }
};

.form {
    overflow: hidden;
    width: 75%;
    margin: auto;
}

.formGroup {
    margin: 1rem 0;
    border: none;
    font-size: 1rem;
    font-weight: 100;
    color: #fff;
    border-bottom: 1px solid #d4d4d4;
    padding: 1rem 0;
    background: transparent;
    width: 100%;
    text-indent: .7rem;

  &:-webkit-autofill {
      box-shadow: 0 0 0 1000px white inset !important;
  }

  &:focus {
      outline: none;
  }

  &::placeholder {
      color: rgba(255, 255, 255, 0.4);
  }
}

.authFields {
    display: flex;
}

.alert {
    color: #000000;
    border-radius: 3px;
    padding: 1rem;
    text-align: left;
    font-weight: 200;
    background: #eee;
    position: relative;

    &.alert_danger {
        background: #f2dede;
    }
}

.close {
    position: absolute;
    cursor: pointer;
    right: 1rem;
    top: 0;
    bottom: 0;
    background: none;
    border: none;
    font-size: 1.5rem;
}
