$backgroundColor: #1588bc;
$fontColor: #fff;

:global {
    body, html {
        height: 100%;
        margin: 0;
    }

    body {
        background: $backgroundColor;
    }
}

.wrapper {
    text-align: center;
    color: $fontColor;
}

.content {
    width: 50%;
    margin: auto;
}

.title {
    font-size: 2.5rem;
    font-weight: lighter;
    padding: 2rem 0;
    margin: 0;
}

.logo {
    font-size: 3rem;
    display: inline-block;
    margin: 20px auto;
    font-weight: lighter;
    text-decoration: none;
    color: #fff;
}