$backgroundColor: #1588bc;
$fontColor: #fff;

:global {
    body, html {
        height: 100%;
        margin: 0;
    }
}

.wrapper {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $backgroundColor;
    color: $fontColor;
}

.content {
    width: 50%;
    margin: auto;
}

.title {
    font-size: 2.5rem;
    font-weight: lighter;
    margin: 2rem 0;
}