<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Simple Koa Server Render</title>
    <script>
      window.__PRELOADED_STATE__ = <%- JSON.stringify(preloadedState) %>
    </script>
  </head>
  <body>
    <div id="container"><div><%- reactContent %></div></div>
    <script src="/js/bundle.js"></script>
  </body>
</html>
