<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple Koa Server Render</title>
    <script>
      window.__PRELOADED_STATE__ = <%- JSON.stringify(preloadedState) %>
    </script>
  </head>
  <body>
    <div id="container"><div><%- html %></div></div>
  </body>
</html>
